body{
    font-family: 'Roboto', sans-serif;
}
h1.title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: crimson;
    cursor: pointer;
}
p.content{
    text-align: justify;
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.5;
    cursor: pointer;
}
/* list style type ile istersen emoji de kullanabiliriz */
ul.menu li {
    list-style-type:square;
}
ul.menu li a{
    text-decoration:  none;
    font-size: 1.5rem;
    
}