body{
    background-color: azure;
}
nav.menu{
    margin:5px;
}

nav.menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

nav.menu ul li{
    display: inline-block;
}

nav.menu ul li a{
    text-decoration: none;
    background-color: blueviolet;
    color: wheat;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
nav.menu ul li a:hover{
    background-color: chartreuse;
    color: blue;
}

