/* tum p tagleri secildi */
div.box p{
    color: blueviolet;
    font-size: 1.5rem;
    }
    /* sadece childi olan p tagleri secildi */
    div.box>p{
        color: chartreuse;
        background-color: rgb(255, 0, 136);
    }
    ul.list ol >li{
       color: aqua;
    }
    div.box +a{
        color: red;
    }
    div.box ~a{
        color: green;
    }
    