
div.input-group{
    margin: 10rem;
    background-color: rgb(74, 61, 61);
    padding: 5px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    }
    div.input-group input{
        background: none;
        border: none;
        outline: none;
        color: aliceblue;
        display: inline-block;
        padding: 0 10px;
    }
    div.input-group button{
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(#D16BA5,#5FFBF1);
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        position: absolute;
        right: 1px;
        bottom: 1px;
    }