body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    background-color: grey;
    text-align: center;
    padding: 20px
}
header a{
    color: whitesmoke;
    margin: 10px;
    padding: 10px;
}
header a:hover{
    color: red;
}
header img{
    width: 20px;
    height: 20px;
}
main section{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;

}
