body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
header img{
    height: 20px;
    width: 20px;
}
header a{
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
header a:hover{
    color: red;
}
header nav.nav-menu{
    text-align: center;
    padding: 20px;
}

body nav.nav-menu{
    background-color: #454545;
}

main{
    text-align: center;
}
main h2{
    font-size: 40px;
}
main section{
    background-color:whitesmoke;
}
main section p{
    font-size: 20px;
    color: rgb(112, 110, 110);
}
main section.linkler{
    font-size: 20px;
}
a{
    text-decoration: none;
}
main section.watch h2 img{
    height: auto;
    width: 55px;    
}
section.watch p.series{
    color: red;
    letter-spacing: 10px;
}

